<div class="thq-section-padding">
  <div class="testimonial-max-width thq-section-max-width">
    <div class="testimonial-container10">
      <h2 class="thq-heading-2">{{ heading1 }}</h2>
      <p class="testimonial-text11 thq-body-large">{{ content1 }}</p>
    </div>
    <div class="thq-grid-2">
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card1">
            <div class="feature-icon-container">
              <span class="feature-icon">{{ feature1Icon }}</span>
            </div>
            <h3 class="thq-heading-3 feature-title">{{ feature1Title }}</h3>
            <p class="thq-body-small feature-description">{{ feature1Description }}</p>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card2">
            <div class="feature-icon-container">
              <span class="feature-icon">{{ feature2Icon }}</span>
            </div>
            <h3 class="thq-heading-3 feature-title">{{ feature2Title }}</h3>
            <p class="thq-body-small feature-description">{{ feature2Description }}</p>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card3">
            <div class="feature-icon-container">
              <span class="feature-icon">{{ feature3Icon }}</span>
            </div>
            <h3 class="thq-heading-3 feature-title">{{ feature3Title }}</h3>
            <p class="thq-body-small feature-description">{{ feature3Description }}</p>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card4">
            <div class="feature-icon-container">
              <span class="feature-icon">{{ feature4Icon }}</span>
            </div>
            <h3 class="thq-heading-3 feature-title">{{ feature4Title }}</h3>
            <p class="thq-body-small feature-description">{{ feature4Description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
