.projects-container {
    width: 1300px;
    margin: 0 auto;
    /* Center the container */
    padding: var(--dl-space-space-twounits);
    position: relative;
    /* Adjust positioning as needed */
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.backdrop {
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: stretch; /* Ensure buttons stretch across the row */
}

.button-group button {
    padding: 0.8rem 1.5rem;
    color: var(--dl-color-theme-primary1);
    background: none; /* Remove gradient background */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 18px;
    font-family: Noto Sans;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 100%; /* Make button stretch to full width */
}

.button-group button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    transition: all 0.4s ease;
    z-index: 1;
}

.button-group button:hover::before {
    width: 200%;
}

.button-group button:hover {
    transform: translateX(8px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button-group button.active {
    background: var(--dl-color-theme-accent2); /* Remove gradient background for active state */
    color: var(--dl-color-theme-primary1);
    font-weight: bold;
    transform: scale(1.05);
}

.button-group button.active::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 0;
    
}